.form {
  --control-width: 360px;
  --control-height: 40px;
  --gap: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
}

.form > label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form input[type='number'],
.form > button,
fieldset {
  width: var(--control-width);
  box-sizing: border-box;
}

.form input[type='number'] {
  border: 1px solid #808080;
  border-radius: 4px;
  height: var(--control-height);
  transition: 0.25s;
}

.form input[type='number']:focus {
  border-color: #4e75ff;
  outline: none;
}

.form > button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  height: var(--control-height);
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: 0.25s;
  border: none;
  outline: none;
}

.form > button:hover {
  background-color: #6c8cff;
}

fieldset {
  border-radius: 4px;
  border: 1px solid #808080;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  transition: 0.25s;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

fieldset:hover,
fieldset:active {
  border-color: #000;
}

fieldset > label {
  display: flex;
  align-items: center;
  gap: 8px;
}

fieldset > label > input {
  width: 20px;
  height: 20px;
  accent-color: #4e75ff;
}

/* Remove native number input spin buttons */
.form input[type='number']::-webkit-outer-spin-button,
.form input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
